@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Montserrat:wght@500&family=Poppins:wght@200&family=Quicksand:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Montserrat:wght@500&family=Poppins:wght@200&family=Roboto:wght@700&display=swap');

body {
  margin: 0 auto;
  width: 400px;
}

ul {
  list-style: none;
}

.navbar {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.menu-img {
  display: flex;
  padding: 10px;
  margin: 20px;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  height: 72px;
  color: white;
  align-items: center;
}

.section1 {
  background-color: #1c1a19;
  align-items: center;
  height: 730px;
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title {
  font-size: 56px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  margin-bottom: 0;
  margin-top: 0;
  color: #ff6b00;
  padding: 120px 24px 12px 24px;
}

.sub-title {
  color: #fff;
  padding: 12px 24px 12px 24px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 12px 24px 12px 24px;
}

.items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  padding: 12px 151px 120px 24px;
}

.heading {
  height: 83px;
  font-family: Crete Round;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding: 120px 24px 0 24px;
}

.placeholder {
  width: 350px;
  padding: 56px 24px 24px 24px;
}

.stories {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  padding: 24px 24px 0 24px;
  color: #091e42;
}

.section-paragraph {
  width: 327px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  padding: 0 24px 12px 24px;
  color: #091e42;
}

.tags {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  padding: 0 54px 12px 24px;
}

ul a {
  text-decoration: none;
}

.tag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.tag1:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.tag2:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.tag3:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.tag4:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.see__project {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 227px 24px 24px;
}

.see__project:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3 {
  padding: 24px;
  margin: 24px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Background.png);
}

.section3-heading {
  margin: 84px 16px 12px 16px;
  font-family: 'Crete Round';
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
}
.section3-paragraph {
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 12px 16px;
  line-height: 24px;
}

.section3-items {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  padding: 0 75px 22px 4px;
}

.section3-item1 {
  background: #ffffff3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.section3-item1:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3-item2 {
  background: #ffffff3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
}

.section3-item2:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3-item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
  color: #091e42;
  background: #ffffff3d;
}

.section3-item3:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3__project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 58px;
  color: #fff;
  cursor: pointer;
  border: none;
  background: rgba(255, 107, 0, 1);
  text-decoration: none;
  margin: 0 -24px -24px -24px;
}

.section3__project:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;  
}

.aboutme-section {
  height: 600px;
  background: #1c1a19;
  background-image: url("images/Group-aboutme.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0;
}

.aboutme-heading {
  height: 79px;
  font-family: 'Crete Round';
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: center;
  color: rgba(255, 107, 0, 1);
}

.aboutme-paragraph {
  height: 148px;
  font-family: 'Inter',sans-serif;
  line-height: 24px;
  color: rgba(244, 245, 247, 1);
  margin:24px;
}
.aboutme-button {
  height: 48px;
  font-family: 'Inter',sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0px;
  padding: 12px;
  background: rgba(255, 107, 0, 1);
  color: #fff;
  margin: 0 190px 209px 24px;
}

.aboutme-button:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}
