@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Montserrat:wght@500&family=Poppins:wght@200&family=Quicksand:wght@700&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Montserrat:wght@500&family=Poppins:wght@200&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

ul {
  list-style: none;
}

.navbar {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.hamburger-button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.section1 {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title {
  font-size: 56px;
  font-weight: 400;
  font-family: "Crete Round", serif;
  margin-bottom: 0;
  margin-top: 0;
  color: #ff6b00;
  padding: 120px 24px 12px 24px;
}

.sub-title {
  color: #fff;
  padding: 12px 24px 12px 24px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 12px 24px 12px 24px;
}

.items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  padding: 12px 151px 120px 24px;
}

.language-container ul li {
  background: #ffffff7e;
  display: inline-block;
  border: 1px solid #626466;
  padding: 8px;
  color: #1d1c1c;
  margin-right: 10px;
  width: -80%;
}

.items li:hover {
  border: 2px solid #87ceeb;
}

.heading {
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 120px;
  color: #091e42;
}

.first-line {
  width: 80%;
}

.head-line {
  margin: 0 24px;
  border: 1px solid #212121;
}

.section2-Head_lining h2 {
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
  width: 86%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-recent-works {
  width: 86%;
}

.placeholder {
  width: 86%;
  padding: 56px 24px 24px 24px;
}

.stories {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  margin: 24px 24px 0 24px;
  color: #091e42;
  width: 86%;
}

.section2-paragraph {
  width: 327px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  padding: 0 24px 12px 24px;
  color: #091e42;
}

.tags {
  display: flex;
  justify-content: space-around;
  margin: 12px 24px 12px -34px;
  height: 40px;
  align-items: center;
  padding: 5px;
  color: rgba(9, 30, 66, 1);
}

ul a {
  text-decoration: none;
}

.tag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
}

.tag1:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
}

.tag2:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid #091e42;
  padding: 5px;
}

.tag3:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.tag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #091e42;
  padding: 5px;
}

.tag4:hover {
  background: #f4f1f0;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3__project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 58px;
  color: #fff;
  cursor: pointer;
  border: none;
  background: rgba(255, 107, 0, 1);
  text-decoration: none;
  margin: 0 -24px -24px 0;
  width: 100%;
}

.see__project {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  width: 137px;
  margin-left: 26px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

.see__project:hover {
  text-decoration: underline #e4752b;
  border: 2px solid #e4752b;
  color: orangered;
  background: #e4d9d5;
}

.section3 {
  margin: 24px;
  background:
    linear-gradient(
      180.45deg,
      rgba(165, 163, 163, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(images/Background.png);
}

.section3-heading {
  margin: 84px 16px 12px 16px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
}

.section3-paragraph {
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 12px 16px;
  line-height: 24px;
}

.section3-items {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  padding: 0 75px 22px 4px;
}

.section3-item1 {
  background: #ffffff7e;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid #f0f2f5;
  padding: 8px;
  color: white;
}

.section3-item1:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3-item2 {
  background: #ffffff7e;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid #091e42;
  padding: 8px;
  color: #fff;
}

.section3-item2:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3-item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid #091e42;
  padding: 8px;
  color: #fff;
  background: #ffffff7e;
}

.section3-item3:hover {
  background: #ffffff3d;
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.section3__project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  height: 58px;
  color: #fff;
  cursor: pointer;
  border: none;
  background: rgba(255, 107, 0, 1);
  text-decoration: none;
  margin: 0 -24px -24px 0;
  width: 100%;
}

.section3__project:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.aboutme-section {
  background: #1c1a19;
}

.side-image {
  background-image: url("images/Group-aboutme.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0;
  height: 210px;
}

.aboutme-header h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: center;
  color: rgba(255, 107, 0, 1);
  padding: 120px 24px 24px 24px;
}

.aboutme-paragraph {
  height: 148px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: rgba(244, 245, 247, 1);
  margin: 24px;
}

.aboutme-section button {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 26px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-weight: 700;
  border: none;
}

.aboutme-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 12px;
  background: rgba(255, 107, 0, 1);
  color: #fff;
  margin: 0 190px 209px 24px;
}

.aboutme-button:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.vector-line {
  height: 0;
  width: 80%;
  margin: auto;
  border: 1px solid #a3a0a0;
}

.vector-line:hover {
  border: 1px solid #87ceeb;
}

.aboutme-Languages {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.header-languages {
  display: flex;
  margin-left: 70px;
}

.header-languages img {
  margin-top: 29px;
}

.diagonal-img {
  height: 40px;
  margin-left: 10px;  
}

.diagonal-img:hover {
  border: 1px solid #87ceeb;
}

.languages-1 {
  font-family: "inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;  
}

.languages-1:hover {
  text-decoration: underline #87ceeb;
}

.aboutme-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "inter", sans-serif;
  color: #fff;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aboutme-item {
  padding: 8px 4px;
}

.aboutme-item:hover {
  text-decoration: underline #87ceeb;
}

.aboutme-frameworks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.rectangle-img {
  height: 30px;
  margin: 8px;
}

.rectangle-img:hover {
  border: 1px solid #87ceeb;
}

.frameworks-1 {
  font-family: "inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.frameworks-1:hover {
  text-decoration: underline #87ceeb;
}

.aboutme-frameworks-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "inter", sans-serif;
  color: #fff;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aboutme-frame-item {
  padding: 8px 4px;
}

.aboutme-frame-item:hover {
  text-decoration: underline #87ceeb;
}

.aboutme-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img {
  height: 30px;
  margin: 8px;
}

.circle-img:hover {
  border: 1px solid #87ceeb;
}

.skills-1 {
  font-family: "inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.skills-1:hover {
  text-decoration: underline #87ceeb;
}

.aboutme-skills-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "inter", sans-serif;
  color: #fff;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aboutme-skills-item {
  padding: 8px 4px;
}

.aboutme-skills-item:hover {
  text-decoration: underline #87ceeb;
}

.last-paragraph {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  margin: 120px 24px 72px 24px;
}

.inputs-name {
  padding: 73px 40px 14px 40px;
  color: rgba(151, 148, 147, 1);
}

.inputs-name-line {
  margin: 0 24px;
}

.iputs-email {
  padding: 39px 40px 13px 40px;
  color: rgba(151, 148, 147, 1);
}

.inputs-email-line {
  margin: 0 24px;
}

.textarea {
  margin: 36px;
  font-family: "inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
  color: rgba(60, 58, 57, 1);
  background: rgba(251, 248, 247, 1);
}

.close-button {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 24px 122px 124px 132px;
}

.close-button:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.sliceit-up:hover {
  border: 2px solid #87ceeb;
}

.media-items {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2px;
  margin: 15px 88px 0 60px;
}

.media-item1:hover {
  border: 2px solid #87ceeb;
}

.media-item2:hover {
  border: 2px solid #87ceeb;
}

.media-item3:hover {
  border: 2px solid #87ceeb;
}

.media-item4:hover {
  border: 2px solid #87ceeb;
}

.media-item5:hover {
  border: 2px solid #87ceeb;
}

.shaping-img {
  margin: 23px 121px 8px 120px;
}

.contact-section {
  display: flex;
  flex-direction: column;
}

.contact-section p {
  color: #172b4d;
  font-family: "inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  margin: 80px 20px 73px 20px;
  text-align: center;
  width: 84%;
}

.language-container p:hover {
  text-decoration: underline #87ceeb;
  border: 2px solid #87ceeb;
}

.input-contact {
  height: 18px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  margin: 33px 40px 0 40px;
  border: none;
}

.contact-section_line1 {
  margin-left: 24px;
  margin-right: 24px;
}

.new-lining {
  width: 86%;
}

.contact-section textarea {
  background-color: #fbf8f7;
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 81%;
}

.contact-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #ff6b00;
  border: none;
  width: 40%;
  color: #fff;
  margin: 24px auto;
  margin-bottom: 136px;
}

.contact-button:hover {
  text-decoration: 2px underline #87ceeb;
  border: 2px solid #87ceeb;
}

.contact-section ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
}

.ending-lining {
  height: 5px;
  width: 134px;
  left: 120px;
  top: 21px;
  border-radius: 10px;
  background: rgba(13, 21, 30, 1);
}

.aboutme-header img {
  display: none;
}

@media only screen and (min-width: 992px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .navbar li {
    margin-right: 32px;
  }

  .aboutme-Languages li {
    margin-right: 100%;
    width: 65%;
    padding: 15%;
  }

  .navbar ul li {
    display: flex;
    color: #fff;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  .logo {
    animation-duration: 2s;
    animation-name: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .placeholder {
    width: 50%;
    height: 10%;
    margin-bottom: 0;
  }

  .placeholder:hover {
    transform: scale(1.2);
  }

  .navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 106px;
  }

  .section1 ul li {
    margin-left: 36px;
    padding: 8px;
  }

  .navbar ul li:hover {
    text-decoration: 2px underline #87ceeb;
  }

  .navbar-links {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar ul {
    display: flex;
    margin-right: 32px;
  }

  .hamburger-button {
    display: none;
  }

  .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: url('desktop-images/Illustration-header.png');
    background-color: #1c1a19;
    background-position: right top;
    background-repeat: no-repeat;
  }

  .section-info {
    width: 46%;
    font-family: 'Crete Round', serif;
    margin-right: 44%;
    margin-bottom: 0;
  }

  .section1 .title {
    margin-left: 5%;
    padding: 0;
  }

  .section1 .sub-title {
    margin-bottom: 0;
  }

  .section1 .paragraph {
    padding-top: 0;
    width: 95%;
  }

  .section1 ul {
    display: block;
    padding: 0;
    margin-top: 279px;
    margin-bottom: 200px;
  }

  .mail {
    font-size: 23px;
    margin-bottom: 0;
    background: transparent;
    border: none;
    color: #fff;
    margin-left: 0;
  }

  .mail:hover {
    text-decoration: underline #87ceeb;
  }

  .section2-Head_lining {
    display: flex;
    width: 90%;
    margin: 5% auto;
    align-items: center;
  }

  .section2-Head_lining h2 {
    color: #091e42;
    font-family: 'Crete Round', serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .last-line {
    width: 100%;
    border: 1px solid #e4dede;
  }

  .section2-Head_lining hr {
    width: 70%;
    margin-right: 4%;
  }

  .section2-placeholder {
    display: flex;
    margin-top: 1%;
    margin-left: 4%;
  }

  .section2-wordings {
    display: flex;
    flex-direction: column;
  }

  .project-info {
    display: flex;
    flex-direction: column;
  }

  .stories {
    display: flex;
    font-family: "Crete Round", serif;
    font-size: 32px;
    font-weight: 400;
    color: #091e42;
    margin-bottom: 0;
  }

  .section2-paragraph {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    margin: 0;
    color: #091e42;
    width: 82%;
  }

  .see__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 10px 0;
    background: #ff6b00;
    border: none;
    width: 30%;
    color: #fff;
  }

  .section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
  }

  .empty-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section-cards .section3__project {
    display: none;
  }

  .section3 {
    width: 27%;
  }

  .section3 > h4 {
    margin-left: 14px;
  }

  .section3 > p {
    margin-left: 14px;
  }

  #one {
    grid-area: one;
    background-image: url('desktop-images/imagecard1.png');
    border: 1px solid black;
  }

  #two {
    grid-area: two;
    background-image: url('desktop-images/imagecard2.png');
  }

  #three {
    grid-area: three;
    background-image: url('desktop-images/imagecard3.png');
  }

  #four {
    grid-area: four;
    background-image: url('desktop-images/imagecard4.png');
  }

  #five {
    grid-area: five;
    background-image: url('desktop-images/imagecard5.png');
  }

  #six {
    grid-area: six;
    background-image: url('desktop-images/imagecard6.png');
  }

  .section3-items {
    padding-right: 8%;
    padding-bottom: 1%;
  }

  .section3__project1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "inter", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    height: 58px;
    color: #fff;
    cursor: pointer;
    border: none;
    background: rgba(255, 107, 0, 1);
    text-decoration: none;
    width: 100%;
  }

  .section3__project1:hover {
    text-decoration: underline #87ceeb;
    border: 2px solid #87ceeb;
  }

  .aboutme-section {
    background-color: #1c1a19;
    margin-top: 8%;
  }

  .secondlast-side_image {
    background: url('desktop-images/Group.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  .aboutme-header {
    display: flex;
    flex-direction: row;
  }

  .aboutme-header img {
    display: flex;
    margin-top: 9%;
    margin-bottom: 15%;
    width: 39%;
  }

  .aboutme-header h2 {
    width: 60%;
    margin-top: 20%;
    margin-bottom: 0;
    padding: 0;
    margin-left: 6%;
  }

  .aboutme-Info {
    display: flex;
    flex-direction: column;
    font-family: 'inter', sans-serif;
    align-items: flex-start;
    margin-left: 6%;
    margin-bottom: 13%;
  }

  .aboutme-paragraph {
    width: 85%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .aboutme-Info button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 10px 0;
    background: #ff6b00;
    border: none;
    width: 30%;
    color: #fff;
    margin-left: 6%;
  }

  .vector-line {
    margin-bottom: 1%;
  }

  .language-section {
    display: flex;
  }

  .aboutme-Languages {
    display: block;
    margin-left: 150px;
  }

  .header-languages {
    display: flex;
    margin-left: -70px;
  }
  
  .header-languages p {
    margin-left: 0;
  }

  .header-languages img {
    padding-right: 10px;
    padding-top: 14px;
  }

  .contact-section_form {
    width: 100%;
    display: flex;
  }

  .contact-section_form p {
    width: 100%;
    margin-right: 0;
    margin-top: 15%;
    text-align: left;
    margin-left: 3%;
  }

  .contact-section_form form {
    width: 150%;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 3%;
  }

  .new-lining {
   width: 20%;
    margin-right: 10%;
  }

  .contact-section_form .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 10px 0;
    background: #ff6b00;
    border: none;
    width: 30%;
    color: #fff;
    margin-right: 66%;
  }
}
